<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Совет от wcs.life</title>
  <meta name="description" content="Совет дня для танцоров West Coast Swing" />
  <link rel="shortcut icon" href="https://wcs.life/assets/img/meta/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <div class="page">
    <div class="header">
      <a href="/"><img src="/assets/logo-advice.svg" alt="Совет дня"></a>
    </div>
    <div class="advice">
      <a href="/">
        <div id="emoji">{{.Emoji}}</div>
        <div id="content" class="animated">{{.Content}}</div>
      </a>
    </div>
    <div class="footer">
      <a href="https://t.me/wcslife">
        <img id="logo-wcs-life" src="/assets/logo-wcs-life.svg" alt="wcs.life">
      </a>
      <a href="https://github.com/ofstudio/advice-wcs-life">
        <img id="icon-github" src="/assets/icon-github.svg" alt="GitHub">
      </a>
    </div>
  </div>
  <script src="https://twemoji.maxcdn.com/v/13.0.1/twemoji.min.js"
    integrity="sha384-5f4X0lBluNY/Ib4VhGx0Pf6iDCF99VGXJIyYy7dDLY5QlEd7Ap0hICSSZA1XYbc4"
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function nativeEmoji() {
        var p = navigator.platform || '';
        if (p.indexOf('Mac') == 0) return true;
        if (p.match(/iP(hone|ad|od)/)) return true;
      }
      var aniStyles = ['rollIn', 'flipInY', 'fadeInUp', 'bounceInLeft', 'backInDown'];
      var c = document.getElementById('content');
      c.classList.add(aniStyles[Math.floor(Math.random() * aniStyles.length)]);
      if (!nativeEmoji()) twemoji.parse(document.getElementById('emoji'));
    });
  </script>
</body>

</html>